@model IEnumerable<u19206985_HW05.Models.ViewModels.BookInfo>

@{
    ViewBag.Title = "Index";
}

<h2>Books</h2>
@if (ViewBag.Message != "")
{
    <p class="text-danger">@ViewBag.Message</p>

}

<hr />
<div class="container-fluid">
    @using (Html.BeginForm("Search", "Home", FormMethod.Post))
    {
        <div class="row">
            <div class="col-lg-4">
                <input class="form-control" placeholder="Search Book Name" name="name" />
            </div>
            <div class="col-lg-2">
                <div class="form-group">
                    <div class="col-md-12 ">
                        @Html.DropDownList("typeId", (IEnumerable<SelectListItem>)ViewBag.Types, "Select Type", new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="form-group">
                    <div class="col-md-12 ">
                        @Html.DropDownList("authorId", (IEnumerable<SelectListItem>)ViewBag.Types, "Select Author", new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <button class="btn btn-success btn-lg" type="submit"> Search </button>
            </div>
            <div class="col-lg-2">
                <button class="btn btn-danger btn-lg"> Clear </button>
            </div>
        </div>
    }
</div>
<hr />

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                Name
            </th>
            <th>
                Author
            </th>
            <th>
                Type
            </th>
            <th>
                Page Count
            </th>
            <th>
                Points
            </th>
            <th>
                Status
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.bookId
                </td>
                <td>
                    @item.name
                </td>
                <td>
                    @item.authorSurname
                </td>
                <td>
                    @item.typeName
                </td>
                <td>
                    @item.pagecount
                </td>
                <td>
                    @item.point
                </td>
                <td>
                    @if (item.status == true)
                    {
                        <span class="text-success">Available</span>
                    }
                    else
                    {
                        <span class="text-danger">Out</span>
                    }
                </td>
                <td>
                    <button class="btn btn-primary" onclick="window.location.href = '@Url.Action("Details","Home",new { bookId = item.bookId })'"> View</button>
                </td>
            </tr>
        }
    </tbody>
</table>
